<% if(id) { %>
  <li class="list-group-item">
    <% if(logged_in == 1) { %>
    <span class="text-primary glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="top" title="Online"></span>
    <% } else { %>
    <span class="text-muted glyphicon glyphicon-eye-close" data-toggle="tooltip" data-placement="top" title="Offline"></span>
    <% } %>
    <a href="/user/<%= id %>"><span class="username"><%= username %></span></a>
    <button data-id="<%= id %>" class="js-challenge btn btn-primary btn-sm pull-right" data-loading-text="Please Wait..." autocomplete="off">Challenge</button>
  </li>
<% } else { %>
  <li class="list-group-item text-center">
    <p>You have no connections.</p>
    <a href="/users/" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Connect</a>
  </li>
<% } %>