
/* Game Board Styles */

.svg-container{
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 86%;
  vertical-align: middle;
  overflow: hidden;
}
.svg-content{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.alerts-panel .alert{
  display: none;
}
#game-board{
  stroke:#396d8b;
}
.player0   {
  fill: #396d8b;
  stroke: #396d8b;
  stroke-width: 1px;
}
.player1 {
  fill: #c94d4d;
  stroke: #c94d4d;
  stroke-width: 1px;
}
.cell{
  fill:#F7F654;
  stroke-width:2px;
  stroke:#F7F654;
}