
/* Game Board Styles */

.svg-container{
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 86%;
  vertical-align: middle;
  overflow: hidden;
}
.svg-content{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.alerts-panel .alert{
  display: none;
}

.background0 {
  fill: #966;
  stroke: black;
  stroke-width: 2px;
}
.background1 {
  fill: #696;
  stroke: black;
  stroke-width: 2px;
}
.player0   {
  fill: #DD0000;
  stroke: #DD0000;
  stroke-width: 1px;
}
.player1 {
  fill: black;
  stroke: black;
  stroke-width: 1px;
}
.htmlBlock {
  position:absolute;
  top:200px;
  left:300px;
  width:200px;
  height:100px;
  background:#ffc;
  padding:10px;
  display:none;
}
.cell_white{
  fill:yellow;
  stroke-width:2px;
  stroke:yellow;
}
.cell_black{
  fill:yellow;
  stroke-width:2px;
  stroke:yellow;
}
.cell_alert{
  fill:yellow;
  stroke-width:2px;
  stroke:yellow;
}
.name_black{
  fill:black;
  font-size:18px}
.name_orange{
  fill:orange;
  font-size:24px;
}