@font-face {
	font-family: "myFont";
	src: url( /fonts/hand_of_sean.eot ); /* IE */
	src: local("Hand Of Sean"), url( /fonts/hand_of_sean.ttf ) format("truetype"); /* non-IE */
}

.myFont {
	font-family: myFont, verdana, helvetica, sans-serif;
}

body {
	background-color:#7EC4EC;
}


/* Foyer */

.chat-container{

}
.chat-inner{
	/*background-color:#fff;*/
	/*border:solid 1px #D1D1D1;*/
}

.chat-box {
	color:#333;
	height:250px;
	/*line-height:20px;*/
	/*padding:15px;*/
	overflow:auto;
}

.username{
	display: inline-block;
	text-transform: capitalize;
	padding:4px 0 0 6px;
	font-weight: bold;
	font-size:16px;
}

/* Game Board Styles */


.alerts-panel .alert{
	display: none;
}

.background0 {
	fill: #966;
	stroke: black;
	stroke-width: 2px;
}
.background1 {
	fill: #696;
	stroke: black;
	stroke-width: 2px;
}
.player0   {
	fill: #DD0000;
	stroke: #DD0000;
	stroke-width: 1px;
}
.player1 {
	fill: black;
	stroke: black;
	stroke-width: 1px;
}
.htmlBlock {
	position:absolute;
	top:200px;
	left:300px;
	width:200px;
	height:100px;
	background:#ffc;
	padding:10px;
	display:none;
}
.cell_white{
	fill:yellow;
	stroke-width:2px;
	stroke:yellow;
}
.cell_black{
	fill:yellow;
	stroke-width:2px;
	stroke:yellow;
}
.cell_alert{
	fill:yellow;
	stroke-width:2px;
	stroke:yellow;
}
.name_black{
	fill:black;
	font-size:18px}
.name_orange{
	fill:orange;
	font-size:24px;
}


/* Signin Styles*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
